:root {
  --greyrepeat: rgb(77, 76, 76);
  --whiterepeat: rgb(247, 242, 242);
}

* {
  box-sizing: border-box;
  max-width: 100%;
  scroll-behavior: smooth;
  
}
 
/* targets entire body element */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--whiterepeat);
}

/* HEADER */

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

/* sets properties to h1 within the header */
header h1 {
  background-color: var(--whiterepeat);
  padding-left: 40px;
  padding-right: 10px;
  border-radius: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  padding-right: 20px;
  color: var(--whiterepeat);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 5px;
}

/* HERO */

.hero-banner {
  /* Photo by <a href="https://unsplash.com/@joshuaryanphoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joshua Reddekopp</a> on <a href="https://unsplash.com/s/photos/coding?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  background-image: url(/images/computer-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-banner h2 {
  color: var(--whiterepeat);
  margin-top: 0px;
  padding-right: 20px;
  font-size: 17px;
  background-color: black;
  border-radius: 5px;
  padding-left: 3px;
}

/* MAIN */

/* Sets flex to entire Main part of the page and creates column direction */

main {
  display: flex;
  flex-direction: column;
}

/* left headings for all Main sections */
.left {
  padding-left: 13%;
  margin-top: 16px;
  width: 8;
}


/* About Me Section */
#about {
  padding-top: 10px;
  padding-right: 20px;
  gap: 20px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}


/* right column for About Me Section */
.about-right {
  display: flex;
  gap: 30px;
  width: 68%;
}

/* Small Avatar image in the about me section */
.about-right img {
  height: 140px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
}

/* Portfolio container Work Section */
#work {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Right side of the work section, created as grid container and all grid-items below*/
.work-right {
   display: grid; 
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 150px 150px 150px 150px;
   grid-template-areas:
   "horiseon horiseon horiseon horiseon"
   "horiseon horiseon horiseon horiseon"
   "study-guide study-guide lorem lorem"
   "ipsum ipsum dolor dolor";
   gap: 0px;
   width: 68%;
   gap: 15px;
   padding-right: 60px;

}

.horiseon {
  grid-area: horiseon;
  background-image: url(/images/ramon-unsplash.jpg);
  background-position: center;
}

.study-guide {
  grid-area: study-guide;
  background-image: url(/images/anders-unsplash.jpg);
  border-radius: 5px;
}

.lorem {
  grid-area: lorem;
  background-image: url(/images/denilo-unsplash.jpg);
}

.ipsum {
  grid-area: ipsum;
  background-image: url(/images/goh-unsplash.jpg);
}

.dolor {
  grid-area: dolor;
  background-image: url(/images/quintero-unsplash.jpg);
}

/* Targets all of the portfolio anchors at the same time, makes them flex containers, to be able to freely move titles of the containers around. */
.work-right a {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-style: solid;
  border-color: rgb(30, 29, 29);

}

.work-right a:hover {
  opacity: 80%;
}

/* Targets all of the heading titles within the portfolio anchors. */
.work-right a h3 {
  padding: 8px;
  background-color: aqua;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Targets the heading of the portfolio anchor titles. */
.work-right a h3 span{
  font-size: 23px;
}








