:root {
  --greyrepeat: rgb(77, 76, 76);
  --whiterepeat: rgb(247, 242, 242);
}

* {
  box-sizing: border-box;
  max-width: 100%;
}
 
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

header h1 {
  background-color: var(--whiterepeat);
  padding-left: 40px;
  padding-right: 10px;
  border-radius: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  padding-right: 20px;
  color: var(--whiterepeat);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 5px;
}

.hero-banner {
  /* Photo by <a href="https://unsplash.com/@joshuaryanphoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joshua Reddekopp</a> on <a href="https://unsplash.com/s/photos/coding?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  background-image: url(/images/computer-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-banner h2 {
  color: var(--whiterepeat);
  margin-top: 0px;
  padding-right: 20px;
  font-size: 17px;
  background-color: black;
  border-radius: 5px;
  padding-left: 3px;
}

.page-wrap {
  display: flex;
  flex-direction: column;
}

.page-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#about {
  padding-top: 10px;
  padding-right: 20px;
  gap: 20px;
  display: flex;
}

#about h2 {
  padding-left: 80px;
  margin-top: 16px;
}

/* right column for About Me Section */
.right {
  display: flex;
  gap: 30px;
}

.right img {
  height: 150px;
  margin-top: 16px;

}