:root {
  --greyrepeat: rgb(77, 76, 76);
}

* {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: var(--greyrepeat);
  display: flex;
  justify-content: space-between;
}

header h1 {
  background-color: rgb(255, 247, 248);
  padding-left: 40px;
  padding-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  padding-right: 20px;
  color: rgb(247, 242, 242);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 5px;
}

